body{
 font-family: 'Roboto', sans-serif; 
 font-size: 14px;
 color: #0A143A;  
}
.container{
    max-width: 1146px;
    margin: auto;
}
.header{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 12px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
.navbar__menu{
    margin-right: auto;
}
.menu{
    margin: 0;
    list-style: none;
    padding-left: 22px;
    padding-right: 22px;
    display: flex; 
}
.menu__item:not(:last-child){
    margin-right: 14px;
}
.menu__link{
    text-decoration: none;
    color: inherit; 
}
.button{
    text-decoration: none;
    display: inline-block; 
    padding: 10px 15px; 
    cursor: pointer;
}
.button__link{
    color: inherit;
}
.button__primary{
    color: #fff;
    background-color: #256EEB;
    border-radius: 5px;
}
.serch__panel{
    height: 50px;
    background-color: #256EEB;
    border-radius: 5px;
    display: flex;
    padding: 3px;
}
.search__input{
    flex-grow: 1;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    padding-left: 22px;
    padding-right: 22px;
}
.search__button{
    background-color: #256EEB;
    border: none;
    color: #fff;
    padding-left: 20px;
    padding-right: 17px;
    display: flex;
    align-items: center;
}
.search__button-text{
    margin-left: 5px;
}
.page__content{
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 30px;
}
.card__image{
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin-bottom: 20px;
    max-width: 264px;
}
.card:not(:nth-child(3n)){
    margin-right: 20px;
}
.card__link{
    text-decoration: none;
}
.card__title{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #256EEB;
    margin-top: 12px;
    margin-bottom: 5px;
}
.card__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.like{
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}
.card__price{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    color: #0A143A;
    display: block;
}
.card__text{
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-top: 0;
    margin-bottom: 4px;
}
.sidebar .page__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.service{
    margin-bottom: 25px;
}
.services__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-top: 7px;
    margin-bottom: 5px;
}
.services__text{
    font-size: 14px;
    line-height: 16px;
    max-width: 217px;
}
.footer__text{
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    text-decoration: none;
    margin-bottom: 5px;
}
.footer__menu{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 16px;
}
.footer__link{
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
}
.main__single{
    display: flex;
    align-items: flex-start;
}
.content{
    max-width: 460px;
    margin-right: 30px;
}
.swiper-container{
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
}
.swiper-slide{
        background-size: cover;
        background-position: center;
}
.mySwiper2{
        width: 100%;
        border-radius: 10px;
}
.mySwiper{
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
}
.mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
        border-radius: 10px;
}
.mySwiper .swiper-slide-thumb-active {
        opacity: 1;
}
.swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3px;
}
.content__text{
    font-size: 14px;
    line-height: 140%;
}
.single__price{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 25px;
    display: block;
}
.page__title{
    margin-top: 0;
    margin-bottom: 25px;
}
.author{
    min-width: 264px;
}
.author__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 30px;
}
.author__avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.author__name{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 4px;
}
.rating{
    margin-bottom: 5px;
}
.rating__counter{
    margin-left: 10px;
    color: #0A143A;
    opacity: 0.5;
}
.author__status{
    font-size: 12px;
    line-height: 14px;
}
.button-block{
    display: block;
    width: 100%;
    height: 54px;
    margin-bottom: 14px;
    border: none;
}
.button__success{
    background-color: #14B4BE;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
}